* {
  margin: 0;
  padding: 0;
}

/* Header section top title bar of page */

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1 ;
  align-items: center;
  width: 100%;
}

.left-header {
  display: inline-flex;
  flex: 1 1 50%;
  justify-content: flex-start;
}

.right-header {
  display: inline-flex;
  flex: 1 1 50%;
  justify-content: flex-end;
  align-self: center;
}

.logo {
  color: aquamarine;
  align-self: center;
}
/* End of Header / title bar */

        /* MAIN BODY CONTAINER */

  /* overall flex container*/

.column {
  display: flex;
  justify-content: center;

}

/* typography for body/text of stories */

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

  /* LARGE CONTAINER */

.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  margin-top: 70px;
  padding: 0px 10px;
}

.mother {
  display: flex;
  background-image: url("./main-story.png");
  height: 300px;
  width: 630px;
  color: white;
  text-align: left;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
}

.substory {
  display: flex;
}

.story1 .story2 {
display: flex;
}


.fall {
  display: flex;
  background-image: url("./fall-season.png");
  height: 300px;
  width: 300px;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

.camera {
  display: flex;
  background-image: url("./cameraman.png");
  height: 300px;
  width: 300px;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

  /* MEDIUM CONTAINER */

.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 70px;
  padding: 0px 10px;
}

.cat {
  display: flex;
  background-image: url("./cat.png");
  height: 300px;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

  /* SMALL CONTAINER */

.small {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-top: 70px;
  padding: 0px 10px;
}

.cookie {
  display: flex;
  background-image: url("./cookie.png");
  height: 250px;
  width: 238px;
}

    /* COOKIE COLUMN */

.newsbites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.list {
  display:flex;
  flex-direction: column;
  text-align: left;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.item {
  border-bottom: 1px solid black;
  height: 15px;
  width: auto;
  padding: 1px 15px 20px 15px;
}

      /* FOOTER SECTION */

footer {
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.mytimes {
  padding-right: 30px;
  border-right: 2px solid;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.inline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.links span {
  padding-left: 25px;
}
