/* Header section top title bar of page */

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.left-header {
  display: inline-flex;
  flex: 1 1 50%;
  justify-content: flex-start;
}

.right-header {
  display: inline-flex;
  flex: 1 1 50%;
  justify-content: flex-end;
  align-self: center;
}

.logo {
  color: aquamarine;
  align-self: center;
}
/* End of Header / title bar */

        /* BODY */

.column {
  display: flex;
  justify-content: center;
}

.large {
  display: inline-flex;
  flex-direction: column;
  width: 630px;
}

.mother {
  display: flex;
  background-image: url("./main-story.png");
  height: 300px;
  width: 630px;
  color: white;
  text-align: left;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
}

.substory {
  display: flex;
  
.fall {
  background-image: url("./fall-season.png");
  height: 300px;
  width: 600px;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

.camera {
  background-image: url("./cameraman.png");
  height: 300px;
  width: 600px;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}


.medium {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

.cat {
  display: flex;
  background-image: url("./cat.png");
  height: 300px;
  width: 299px;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

.small {
  display: inline-flex;
  flex-direction: column;
  width: 240px;
}

.cookie {
  display: flex;
  background-image: url("./cookie.png");
  height: 250px;
  width: 238px;
}
